<!DOCTYPE html>
<html lang="en">

<head>
  {{>headerlinks}}

<body>

  {{>navbar}}
  
  <!-- main hader -->

  <div class="container-fluid main_header">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
          <!-- Header left -->
          <div class="col-md-6 col-12 main_header_right">
            <figure>
                <img src="image/about.jpg" alt="AksWeather" class="image-fluid" title="Aksweath">
            </figure>
          </div>
          <div class="col-md-6 col-12 main_header_left">
            <p>Wealcom to weather app</p>
            <h1>I Am A <span class="text_clr">Mern Stack Devloper</span> Skilling Up</h1>
            <a href="https://www.linkedin.com/in/thechitransh/" target="_Aks"><button>About me</button></a>
            

          </div>
          <!-- Header right -->
          
        </div>
      </div>
    </div>
    <!-- Fotter -->
   {{>footer}}
</body>

</html>